<div class="page-wrapper">

  <!-- 左側カラム -->
  <aside class="sidebar-left">
    <!-- 左側広告コード -->
     <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3696117703082942"
     data-ad-slot="4894199601"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </aside>

  <!-- 記事本体 -->
  <main class="post-single">
    {{ partial "breadcrumbs.html" . }}
    {{ partial "post_meta.html" . }}
    {{ .Content }}
  </main>

  <!-- 右側カラム -->
  <aside class="sidebar-right">
    <!-- 右側広告コード -->
     <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3696117703082942"
     data-ad-slot="4894199601"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  </aside>

</div>
